//! **************************************************************************
// Written by: Map P.58f on Fri Oct 12 17:34:45 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "SEL<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SEL<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "DIS_SIG<0>" LOCATE = SITE "T3" LEVEL 1;
COMP "DIS_SIG<1>" LOCATE = SITE "D16" LEVEL 1;
COMP "DIS_SIG<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "DIS_SIG<3>" LOCATE = SITE "U3" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "AMP_SHDN" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "E12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

