# SEÑAL DE RELOJ DE 50 MHZ
NET "CLK"  LOC = "C9" | IOSTANDARD = LVCMOS33 ;
# SEÑAL DE RESET
NET "RST" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
# SEÑALES DEL DAC
#NET "SPI_MISO" LOC = "N10" | IOSTANDARD = LVCMOS33 ; 
NET "SPI_SCK"  LOC = "U16" | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 8 ; 
NET "SPI_MOSI" LOC = "T4"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 8 ; 
NET "DAC_CLR"  LOC = "P8"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 8 ; 
NET "DAC_CS"   LOC = "N8"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 8 ; 
# SEÑALES DE OTROS DISPOSITIVOS
NET "SPI_SS_B"     LOC = "U3"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW | DRIVE = 6 ;
NET "AMP_CS"       LOC = "N7"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW | DRIVE = 6 ;
NET "AD_CONV"      LOC = "P11" | IOSTANDARD = LVCMOS33  | SLEW = SLOW | DRIVE = 6 ;
NET "SF_CE0"       LOC = "D16" | IOSTANDARD = LVCMOS33  | SLEW = SLOW | DRIVE = 4 ;
NET "FPGA_INIT_B"  LOC = "T3"  | IOSTANDARD = LVCMOS33  | SLEW = SLOW | DRIVE = 4 ;

