//! **************************************************************************
// Written by: Map P.58f on Tue Oct 16 11:37:11 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "btizquierda" LOCATE = SITE "H13" LEVEL 1;
COMP "pwm_servo" LOCATE = SITE "A6" LEVEL 1;
COMP "btderecha" LOCATE = SITE "D18" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

