 # clock pin for Atlys rev C board
 NET "clk"   LOC = "L15";
 NET "rst" LOC = "F5";

 # USB UART Connector
 NET "rx" LOC = "A16";

 # onBoard Leds
 NET "leds<0>" LOC = "U18";
 NET "leds<1>" LOC = "M14";
 NET "leds<2>" LOC = "N14";
 NET "leds<3>" LOC = "L14"; 





 



