//! **************************************************************************
// Written by: Map P.58f on Wed Oct 03 09:29:26 2018
//! **************************************************************************

SCHEMATIC START;
COMP "LEDS<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "ENTRADA<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "ENTRADA<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "ENTRADA<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "ENTRADA<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "RST" LOCATE = SITE "F5" LEVEL 1;
COMP "CAP" LOCATE = SITE "P3" LEVEL 1;
COMP "CLK" LOCATE = SITE "L15" LEVEL 1;
SCHEMATIC END;

