//! **************************************************************************
// Written by: Map P.58f on Fri Oct 05 16:10:21 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "ent" LOCATE = SITE "B4" LEVEL 1;
PIN ent_pin<0> = BEL "ent" PINNAME PAD;
PIN "ent_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "leds<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "rst" LOCATE = SITE "V16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

