//! **************************************************************************
// Written by: Map P.58f on Wed Sep 12 20:48:03 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "A<1>" LOCATE = SITE "N17" LEVEL 1;
COMP "B<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "B<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "P<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "P<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "P<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "P<3>" LOCATE = SITE "F11" LEVEL 1;
SCHEMATIC END;

