# Terminales para el multiplicador de magnitud
NET "B<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "B<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "A<0>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "A<1>" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "P<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "P<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "P<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "P<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;