//! **************************************************************************
// Written by: Map P.58f on Tue Oct 16 21:52:10 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "DIS_SIG<0>" LOCATE = SITE "T3" LEVEL 1;
COMP "DIS_SIG<1>" LOCATE = SITE "D16" LEVEL 1;
COMP "DIS_SIG<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "DIS_SIG<3>" LOCATE = SITE "U3" LEVEL 1;
COMP "pwm_servo" LOCATE = SITE "A6" LEVEL 1;
COMP "AMP_SHDN" LOCATE = SITE "P7" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "M15" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

